/* css part */

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background-color: white;
}

.gridItem {
    border: solid 1px red;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.option {
    display: flex;
    flex-direction: column;
}